.card.card__post_teaser {
    background-color: #024959;
    color: white;
    margin-bottom: 2em;
}

.card__title{
    background-color: #012E40;
    padding: 1em 0 .2em;
    text-align: center;
    width: 100%;
}

.card__text{
    padding: 1em 2em 1em;
}

.card__image{
    display: flex;
    justify-content: center;
}
.image{
    width: 60%;
    height: 60%;
}

.card__text_category{
    font-weight: bold;
    padding: 1em 0 0 3.5em;
    margin-top: 1em;
}

.card__button_category {
    font-weight: bold;
    padding: 0 0 3em 2em;
    margin-top: 2em;
}

