<div class="card">

  <div class="image-container">
      <img src="/sites/default/files/2023-06/blog.jpg" alt="Preview Image">   
    </div> 

  
  <div class="card-content">
    <h2>{{ title }}</h2>
    <p>{{ subtitle }}</p>

    <div class="button">
    <a class="text-button" href="/post">{{ link }}</a>
    </div>  
  </div>

</div>
