.title {
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    background-color: #012E40;
    padding: 1em 0em;
    width: 100%;
    text-align: center;
}

.title:hover{
    color: #3CA6A6;
}